$primary: (
  default: hsl(26, 100%, 55%),
  pale: hsl(25, 100%, 94%),
);

$background: hsl(0, 0%, 100%);

$text: hsl(220, 13%, 13%);
$subtitle: hsl(219, 9%, 45%);
$faded: hsl(220, 14%, 75%);
$card: hsl(223, 64%, 98%);

$foreground: hsl(0, 0%, 0%);

$opacity: 75%;
