@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

$regular: 400;
$bold: 400;

$family: "Kumbh Sans", sans-serif;

$base-size: 16px;

$sizes: (
  sm: 0.75rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.5rem,
  xxl: clamp(2.5rem, 3.5vw, 3.5rem),
);
