@use "fonts" as *;
@use "colors";

.title {
  font-weight: $bold;
  font-size: map-get($sizes, "xxl");
  line-height: 1.2;
}

.subtitle {
  color: colors.$subtitle;
  line-height: 1.5;
}

.faded {
  color: colors.$faded;
}

@each $name, $size in $sizes {
  .#{$name} {
    font-size: $size;
  }
}

.bold {
  font-weight: $bold;
}

.primary {
  color: colors.$primary;
  @include colors.recolor(colors.$primary);
}

.strike {
  text-decoration: line-through;
}

a {
  color: colors.$subtitle;
  transition: all 300ms;

  &:hover {
    color: colors.$text;
  }
}

p {
  max-width: 50ch;
}

span {
  vertical-align: middle;
}

.label {
  color: colors.$primary;
  background-color: colors.$label;
  padding: 0.0875rem 0.325rem;
  border-radius: 5px;
  font-weight: $bold;
  margin-inline: 1rem;
}
