@use "colors";
@use "fonts";

@mixin row($gap) {
  display: flex;
  gap: $gap;
}

.button {
  background-color: colors.$primary;
  background-color: map-get($map: fonts.$sizes, $key: "sm");
  border-radius: 0.75rem;
  transition: all 300ms;

  &:hover {
    background-color: lighten(colors.$primary, colors.$opacity);
  }
}
